

<!DOCTYPE html>
<html>
<head>
  <link href="./resources/css/index.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Suez One"
          href="https://fonts.googleapis.com/css?family=Noto+Sans">
  <title>Fortress Now!</title>
</head>
<body>
    <div class= "grid">
        <header>Fortress <em>Now!</em></header>

            <app-items></app-items>
    
            <app-exits></app-exits>
            
            <app-story></app-story>
        <footer>Press H for help, Q for status</footer>
    </div>
</body>
</html>
